.container-fluid {
  background-color: #007AA8;
}

.design-bar {
  position: absolute;
}

.design-bar::after,
.design-bar::before {
  content: '';
  width: 50px;
  height: 350px;
  background-color: darkslateblue;
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
}

.design-bar::after {
  position: absolute;
  left: -20px;
  top: -85px;
  transform: rotate(27deg);
}

.design-bar::before {
  position: absolute;
  left: 30px;
  top: -40px;
  transform: rotate(27deg);
}

// .design-sec {
//   position: absolute;
// }

// .design-sec::after,
// .design-sec::before {
//   content: '';
//   width: 50px;
//   height: 350px;
//   background-color: darkslateblue;
//   z-index: 99999;
//   position: absolute;
//   bottom: 0;
//   right: 0;
// }

// .design-sec::after {
//   position: absolute;
//   top
//   right: -40px;
//   bottom: -85px;
//   transform: rotate(27deg);
// }

// .design-sec::before {
//   position: absolute;
//   right: 30px;
//   bottom: -40px;
//   transform: rotate(27deg);
// }


.container-fluid {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  table {
    width: 900px;
  }
}

button {
  border-radius: 10px;
  width: 85px;
  border: none;
  font-size: 18px;
  transition: .5s linear;
}

button:hover {
  background: #007AA8;
}

.hover {
  transition: 400ms all ease;
}

.hover:hover {
  background-color: #007AA8;
  color: #f8f8f8;
}

.header {
  display: flex;
  justify-content: space-between;
}

h1, h2, h3 {
  color: #f8f8f8;
}


.btn {
  font-size: larger;
  color: #131313;
  position: relative;
  left: -30%;
  background-color: aliceblue;
  margin: 12px;
}