<!-- col col-sm-3 col-xs-12 -->
<!-- col-sm-9 col-xs-12 -->
<!-- col-md-offset-1 col-md-10 -->
<!-- <div class="container-fluid">
  <div class="row">
      <div class="">

          <div class="panel">
              <div class="panel-heading">
                  <div class="row">
                      <div class="">

                          <h4 class="title">Data <span>List</span></h4>
                      </div>
                      <div class=" text-right">

                          <div class="btn_group">
                              <input type="text" class="form-control" placeholder="Search">
                              <button class="btn btn-default" title="Reload"><i class="fa fa-sync-alt"></i></button>
                              <button class="btn btn-default" title="Pdf"><i class="fa fa-file-pdf"></i></button>
                              <button class="btn btn-default" title="Excel"><i class="fas fa-file-excel"></i></button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel-body table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Full Name</th>
                              <th>Age</th>
                              <th>Job Title</th>
                              <th>City</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1</td>
                              <td>Vincent Williamson</td>
                              <td>31</td>
                              <td>iOS Developer</td>
                              <td>Sinaai-Waas</td>
                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                          </tr>
                          <tr>
                              <td>2</td>
                              <td>Taylor Reyes</td>
                              <td>22</td>
                              <td>UI/UX Developer</td>
                              <td>Baileux</td>
                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                          </tr>
                          <tr>
                              <td>3</td>
                              <td>Justin Block</td>
                              <td>26</td>
                              <td>Frontend Developer</td>
                              <td>Overland Park</td>
                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                          </tr>
                          <tr>
                              <td>4</td>
                              <td>Sean Guzman</td>
                              <td>26</td>
                              <td>Web Designer</td>
                              <td>Gloucester</td>
                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                          </tr>
                          <tr>
                              <td>5</td>
                              <td>Keith Carter</td>
                              <td>20</td>
                              <td>Graphic Designer</td>
                              <td>Oud-Turnhout</td>
                              <td>
                                  <ul class="action-list">
                                      <li><a href="#" data-tip="edit"><i class="fa fa-edit"></i></a></li>
                                      <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
                                  </ul>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="panel-footer">
                  <div class="row">
                      <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
                      <div class="col-sm-6 col-xs-6">
                          <ul class="pagination hidden-xs pull-right">
                              <li><a href="#"></a></li>
                              <li class="active"><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#">></a></li>
                          </ul>
                          <ul class="pagination visible-xs pull-right">
                              <li><a href="#"></a></li>
                              <li><a href="#">></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->

<div class="design-bar"></div>

<div class="recently-added-table">
  <main class="newly-added">
    <table>
      <tr>
        <td>{{ title }}}</td>
      </tr>
    </table>
  </main>
</div>

<div class="container-fluid">
  <main class="mt-5 pt-5">
    <div class="header">
      <div class="title-text">
        <h1>H BUILDING</h1>
      </div>
      <div class="record-history">
        <h1>Records of Data</h1>
        <a (click)="toSeeRooms()" style="cursor: pointer">
          <h3>View here</h3>
        </a>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- INTERPOLATE ALL THE DATA COMING FROM TS -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Room</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Disinfection time</th>
        <td mat-cell *matCellDef="let element">
          {{ (fbService.item | async)?.lastDisinfect | date: "short" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Water Level</th>
        <td mat-cell *matCellDef="let element">
          <!-- {{ waterLevel }} -->
          {{ (fbService.item | async)?.waterLevel }}
        </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Air Quality</th>
        <td
          mat-cell
          *matCellDef="let element"
          ng-change="onChange()"
          ng-model="airQuality"
        >
          {{ airQuality }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Air Quality Status</th>
        <td mat-cell *matCellDef="let element">{{ status }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="goToDetails()"
        style="cursor: pointer"
        class="hover"
      ></tr>
    </table>
  </main>
  <button mat-icon-button [routerLink]="['/home/school-map']" class="btn">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>

  <!-- <table>
        <tr>
            <th>Header</th>
            <td>{{(fbService.item | async )?.IAQ}}</td>
            <th>Header</th>
            <td>{{(fbService.item | async )?.waterLevel}}</td>
            <th>Header</th>
            <td>{{(fbService.item | async )?.lastDisinfect}}</td>
        </tr>
    </table> -->
</div>
