<main class="mt-10 pt-10">
  <h1>All Buildings</h1>

  <!-- <button (click)="isBack()"></button> -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Room</th>
        <th scope="col">Date</th>
        <th scope="col">Dust Density</th>
        <th scope="col">Battery Status</th>
        <th scope="col">Water Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">309</th>
        <td>April 5, 2022</td>
        <td>0.37</td>
        <td>good</td>
        <td>Mid Level</td>
      </tr>
    </tbody>
  </table>
</main>
