<!--<app-navbar></app-navbar>
<app-school-map></app-school-map>
 <app-sidebar></app-sidebar> 
<app-sidebar></app-sidebar>-->
<!-- <app-navbar></app-navbar>
        <app-sidebar></app-sidebar> -->

<mat-sidenav-container>
    <mat-sidenav #sidenav mode='side' opened>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <mat-icon (click)="sidenav.toggle()" style="cursor:pointer;">menu</mat-icon>
            <div class="search">
                <div class="account">
                    <div class="user">
                        <img src="./assets/user-rick.png" alt="">
                    </div>
                    <div class="dropdown" [matMenuTriggerFor]="menu">
                        <mat-icon>expand_more</mat-icon>
                    </div>
                    <h4>{{ (user | async )?.displayName }}</h4>
                    <!-- {{ (user | async )?.displayName }} -->
                </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>person</mat-icon>
                      Edit Profile
                    </button>
                    <button  mat-menu-item style="cursor: pointer" (click)="authService.logOut()">
                      <mat-icon>logout</mat-icon>
                      SIGN OUT
                    </button>
                  </mat-menu>
            </div>
        </mat-toolbar>
        <div class="content mat-elevation-z4">
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> 

