<!--<app-navbar></app-navbar>
<app-school-map></app-school-map>
 <app-sidebar></app-sidebar> 
<app-sidebar></app-sidebar>-->
<!-- <app-navbar></app-navbar>
        <app-sidebar></app-sidebar> -->

<mat-sidenav-container>
    <mat-sidenav #sidenav mode='side' opened>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <mat-icon (click)="sidenav.toggle()" style="cursor:pointer;">menu</mat-icon>
            <div class="search">
                <mat-icon>search</mat-icon>
                <mat-icon (click)="logOutUser()"style="cursor:pointer;" >subdirectory_arrow_left</mat-icon>
                <mat-icon >notifications_none</mat-icon>
            </div>
        </mat-toolbar>
        <div class="content mat-elevation-z4">
            <div class="main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> 

