<!-- <div class="container">
    <div class="row align-items-center vh-100">
        <div class="col-6 mx-auto">
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-items-center">
                    <img src="assets/Schoolmap.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="card" style="width: 50rem;">
    <img
      src="https://mdbootstrap.com/img/new/standard/nature/182.webp"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
        <div class="row align-items-center vh-100">
            <div class="col-6 mx-auto">
                <div class="card shadow border">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="assets/Schoolmap.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
       <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
    </div>
  </div> -->
  <main class="mt-5 pt-5">
        <img src="assets/mini-map.jpg" alt="map" usemap="#map"> 
            <map name="map">
                <area shape="rect" coords="191,248,115,199" alt="c1" [routerLink]="['c1-building']">
                <area shape="rect" coords="482,126,374,81" alt="h" routerLink="h-building">
                <area shape="rect" coords="332,263,250,217" alt="c2" [routerLink]="['c2-building']">
                <area shape="rect" coords="687,213,605,167" alt="m" routerLink="m-building">
                <area shape="rect" coords="234,144,152,98" alt="a" [routerLink]="['a-building']">
            </map>
            
            <router-outlet></router-outlet>
    </main>

