<!-- <div class="container">
    <div class="row align-items-center vh-100">
        <div class="col-6 mx-auto">
            <div class="card shadow border">
                <div class="card-body d-flex flex-column align-items-center">
                    <img src="assets/Schoolmap.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="card" style="width: 50rem;">
    <img
      src="https://mdbootstrap.com/img/new/standard/nature/182.webp"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
        <div class="row align-items-center vh-100">
            <div class="col-6 mx-auto">
                <div class="card shadow border">
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="assets/Schoolmap.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
       <p class="card-text">
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
    </div>
  </div> -->
  <router-outlet></router-outlet>
  <main class="mt-5 pt-5">
      <div class="container-fluid">
          <div class="d-flex flex-column align-items-cente school">
            <img src="assets/jru-map.jpg" usemap="#jru-mapp">
              <map name="jru-map">
                <area target="" alt="" title="" routerLink="c1-building" coords="192,498,260,430,674,830,613,898" shape="poly">
                <area target="" alt="" title="" routerLink="a-building" coords="1343,1001,1675,709" shape="rect">
                <area shape="rect" coords="452,169,503,190" alt="BUILDING H" href="H-Building.php"> 
                        <area shape="rect" coords="340,310,390,340" alt="BUILDING C1" href="C1-Building.php">    
                        <area shape="rect" coords="160,270,210,320" alt="BUILDING C2" href="C2-Building.php">    
                        <area shape="rect" coords="180,190,240,200" alt="BUILDING A" href="A-Building.php">    
                        <area shape="rect" coords="695,260,745,270" alt="BUILDING M" href="M-Building.php"> 
            </map>
          </div>
      </div>
    
  </main>
