<img src="assets/bg.jpg" alt="">
<div class="navbar_section text-white text-center">
    <div class="container-fluid">
        <div id="home_section" class="py-md-5 py-1">
            <div class="container py-5">
                <div class="row py-5">
                    <div class="col">
                        <h1>A modern publishing platform</h1>
                        <p class="mt-3 mb-4" style="color: whitesmoke;">We build because we can</p>
    
    
                        <button class="btn btn1 font-weight-bold m-2" type="submit" routerLink="login">Sign In</button>
                        <button class="btn btn-outline-light btn2 font-weight-bold m-2" type="submit">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>