:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}



body{
    overflow-x: hidden;
}
.btn1{
    background-color: white;
    border-radius: 25px;
    padding: 7px 25px;
    color: #007AA8;
}

.btn2{

    border-radius: 25px;
    padding: 7px 25px;
    
}

img {
    height: 592px;
    width: 210vh;
    background:rgba(0, 0, 0, 0.9);

    position: absolute;
    left: 0;
    right: 0;
    object-fit: cover;
}

.navbar_section {
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    width: 70vw;
    
}


.navbar_section{
    background-image: linear-gradient(to right, #007AA8, #348CB1, #62A7C5, #7FBDD9, #9DC8E6);
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 75px;
    border-top-right-radius: 75px;
}

/* body_section */