<!-- <td>{{ ( fbService.item | async)?.IAQ }}</td> -->
<!-- <td>{{ ( fbService.item | async)?.waterLevel }}</td>
<td>{{ ( fbService.item | async)?.lastDisinfect | date: "short" }}</td> -->





<!-- 
<div id="container" style="width: 300px; height: 300px">
    <canvas id="canvas-preview" #air style="position: absolute; z-index: 0;"></canvas>
</div> -->

<div class="gauge">
    <div class="data-coming">
        <h1>RECENT DATA </h1>
    </div>
    <h2>Air Quality: {{airQuality}} ug/m3</h2>
    <canvas #air id="canvas-preview"></canvas>
    <div>
        <p>Status: {{status}}</p>
    </div>
    <hr>

    <div class="water">
        <div class="title">
            WATER LEVEL
        </div>
        <h1>{{(waterLevel)}}</h1>
    </div>
</div>



                <!-- <td>{{(fbService.item | async )?.IAQ}}</td>
            </tr>

        </tbody>
    </table>
</div>

  <!-- <div class="wrapper">
      <aside *ngFor="let message of messages | async | reverse">
          <div class="notification"
            *ngIf="!message.dismissed"

            [ngClass]="{'is-info' : message.style=='info',
                        'is-danger' : message.style=='danger',
                        'is-success' : message.style=='success'}">
        <button class="delete" (click)="dismissed(message.$key)"></button>
          </div>
      </aside>
  </div> -->